.DS_Store
node_modules
dist

# Ignore all custom data exept examples
src/data

!src/data/chats/empty.json
!src/data/chats/index.ts
!src/data/chats/random.json
!src/data/chats/siple-question.json

!src/data/contacts/bob.json
!src/data/contacts/index.ts
!src/data/contacts/random.json

!src/data/users/ben.json
!src/data/users/mike.json
!src/data/users/index.ts
!src/data/users/random.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
