@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=6A2551A7-5D5B-4275-952F-339ECA30DD20
@saysimple-plugins:registry=https://gitlab.just-internet.nl/api/v4/packages/npm/

